# Ignore Data Base
A01022382_BasedeDatos.xlsx
~$A01022382_BasedeDatos.xlsx
A01022382_BasedeDatos.csv


#Ignore .vscode
.vscode

#.DS_Store
.DS_Store

# Proyecto Folder
Proyecto/


# Ensayo
A01022382_Ensayo.pdf
The Social Dilema.docx